<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.re.kh.mapper.ChatMapper">

    <insert id="createRoom" parameterType="RoomVO">
        INSERT INTO CHATROOMTABLE (ROOM_ID, USER_ID, FRIEND_ID) VALUES (#{roomId}, #{userID}, #{friendID})
    </insert>

    <insert id="saveMsg" parameterType="MessageVO">
        INSERT INTO CHATMESSAGETABLE (ROOM_ID, USER_ID, FRIEND_ID, MESSAGE) VALUES (#{roomID}, #{userID}, #{friendID}, #{message})
    </insert>

    <select id="messageSearch" parameterType="String" resultType="MessageVO">
        SELECT * FROM CHATMESSAGETABLE WHERE ROOM_ID = #{roomID} ORDER BY INPUT_DATE ASC
    </select>

    <select id="checkUUID" parameterType="java.util.HashMap" resultType="String">
        SELECT ROOM_ID
        FROM CHATROOMTABLE
        WHERE LEAST(user_id, friend_id) = LEAST(#{userID}, #{friendID})
        AND GREATEST(user_id, friend_id) = GREATEST(#{userID}, #{friendID})
    </select>

    <select id="userRoomCount" parameterType="Long" resultType="ChatListVO">
        SELECT U.USERNAME, U2.USERNAME AS FRIENDNAME, C.ROOM_ID FROM USERS u
        INNER JOIN CHATROOMTABLE c ON U.USER_ID = C.USER_ID
        INNER JOIN USERS u2 ON U2.USER_ID = C.FRIEND_ID
        WHERE U.USER_ID = #{userID}
        ORDER BY c.CREATE_DATE ASC
    </select>

</mapper>
